{% extends 'base.html.twig' %}

{% block body %}

    <div id="container">
        <header></header>
        <main id="content">
            <div id="left-pane">
                <table id="orders-list" class="table">
                </table>
            </div>
            <div id="center-pane">
                <table id="boxes-list" class="table">
                    <tbody>
                    <tr>
                        <td {% if not boxes[0]['availability'] %}data-productorder="{{ boxes[0]['product_order_id'] }}" data-product="{{ boxes[0]['product'] }}"{% endif %} data-boxid="{{ boxes[0]['id'] }}" class="{% if boxes[0]['availability'] %}success{% else %}danger{% endif %}"><strong>{{ boxes[0]['id'] }}</strong><div class="pull-right">{{ boxes[0]['orderId'] }}</div><br>{% if (boxes[0]['availability']) %}Free{% else %}Since {{ boxes[0]['availabilityDate']|date("F jS, g:ia") }}{% endif %}</td>
            <td {% if not boxes[12]['availability'] %}data-productorder="{{ boxes[12]['product_order_id'] }}" data-product="{{ boxes[12]['product'] }}"{% endif %} data-boxid="{{ boxes[12]['id'] }}" class="{% if boxes[12]['availability'] %}success{% else %}danger{% endif %}" rowspan="4"><strong>{{ boxes[12]['id'] }}</strong><div class="pull-right">{{ boxes[12]['orderId'] }}</div><br>{% if (boxes[12]['availability']) %}Free{% else %}Since {{ boxes[12]['availabilityDate']|date("F jS, g:ia") }}{% endif %}</td>
    <td {% if not boxes[15]['availability'] %}data-productorder="{{ boxes[15]['product_order_id'] }}" data-product="{{ boxes[15]['product'] }}"{% endif %} data-boxid="{{ boxes[15]['id'] }}" class="{% if boxes[15]['availability'] %}success{% else %}danger{% endif %}" rowspan="4"><strong>{{ boxes[15]['id'] }}</strong><div class="pull-right">{{ boxes[15]['orderId'] }}</div><br>{% if (boxes[15]['availability']) %}Free{% else %}Since {{ boxes[15]['availabilityDate']|date("F jS, g:ia") }}{% endif %}</td>
    <td {% if not boxes[18]['availability'] %}data-productorder="{{ boxes[18]['product_order_id'] }}" data-product="{{ boxes[18]['product'] }}"{% endif %} data-boxid="{{ boxes[18]['id'] }}" class="{% if boxes[18]['availability'] %}success{% else %}danger{% endif %}" rowspan="6"><strong>{{ boxes[18]['id'] }}</strong><div class="pull-right">{{ boxes[18]['orderId'] }}</div><br>{% if (boxes[18]['availability']) %}Free{% else %}Since {{ boxes[18]['availabilityDate']|date("F jS, g:ia") }}{% endif %}</td>
    <td {% if not boxes[20]['availability'] %}data-productorder="{{ boxes[20]['product_order_id'] }}" data-product="{{ boxes[20]['product'] }}"{% endif %} data-boxid="{{ boxes[20]['id'] }}" class="{% if boxes[20]['availability'] %}success{% else %}danger{% endif %}"><strong>{{ boxes[20]['id'] }}</strong><div class="pull-right">{{ boxes[20]['orderId'] }}</div><br>{% if (boxes[20]['availability']) %}Free{% else %}Since {{ boxes[20]['availabilityDate']|date("F jS, g:ia") }}{% endif %}</td>
                    </tr>
                    <tr>
                        <td {% if not boxes[1]['availability'] %}data-productorder="{{ boxes[1]['product_order_id'] }}" data-product="{{ boxes[1]['product'] }}"{% endif %} data-boxid="{{ boxes[1]['id'] }}" class="{% if boxes[1]['availability'] %}success{% else %}danger{% endif %}"><strong>{{ boxes[1]['id'] }}</strong><div class="pull-right">{{ boxes[1]['orderId'] }}</div><br>{% if (boxes[1]['availability']) %}Free{% else %}Since {{ boxes[1]['availabilityDate']|date("F jS, g:ia") }}{% endif %}</td>
                        <td {% if not boxes[21]['availability'] %}data-productorder="{{ boxes[21]['product_order_id'] }}" data-product="{{ boxes[21]['product'] }}"{% endif %} data-boxid="{{ boxes[21]['id'] }}" class="{% if boxes[21]['availability'] %}success{% else %}danger{% endif %}"><strong>{{ boxes[21]['id'] }}</strong><div class="pull-right">{{ boxes[21]['orderId'] }}</div><br>{% if (boxes[21]['availability']) %}Free{% else %}Since {{ boxes[21]['availabilityDate']|date("F jS, g:ia") }}{% endif %}</td>
                    </tr>
                    <tr>
                        <td {% if not boxes[2]['availability'] %}data-productorder="{{ boxes[2]['product_order_id'] }}" data-product="{{ boxes[2]['product'] }}"{% endif %} data-boxid="{{ boxes[2]['id'] }}" class="{% if boxes[2]['availability'] %}success{% else %}danger{% endif %}"><strong>{{ boxes[2]['id'] }}</strong><div class="pull-right">{{ boxes[2]['orderId'] }}</div><br>{% if (boxes[2]['availability']) %}Free{% else %}Since {{ boxes[2]['availabilityDate']|date("F jS, g:ia") }}{% endif %}</td>
                        <td {% if not boxes[22]['availability'] %}data-productorder="{{ boxes[22]['product_order_id'] }}" data-product="{{ boxes[22]['product'] }}"{% endif %} data-boxid="{{ boxes[22]['id'] }}" class="{% if boxes[22]['availability'] %}success{% else %}danger{% endif %}"><strong>{{ boxes[22]['id'] }}</strong><div class="pull-right">{{ boxes[22]['orderId'] }}</div><br>{% if (boxes[22]['availability']) %}Free{% else %}Since {{ boxes[22]['availabilityDate']|date("F jS, g:ia") }}{% endif %}</td>
                    </tr>
                    <tr>
                        <td {% if not boxes[3]['availability'] %}data-productorder="{{ boxes[3]['product_order_id'] }}" data-product="{{ boxes[3]['product'] }}"{% endif %} data-boxid="{{ boxes[3]['id'] }}" class="{% if boxes[3]['availability'] %}success{% else %}danger{% endif %}"><strong>{{ boxes[3]['id'] }}</strong><div class="pull-right">{{ boxes[3]['orderId'] }}</div><br>{% if (boxes[3]['availability']) %}Free{% else %}Since {{ boxes[3]['availabilityDate']|date("F jS, g:ia") }}{% endif %}</td>
                        <td {% if not boxes[23]['availability'] %}data-productorder="{{ boxes[23]['product_order_id'] }}" data-product="{{ boxes[23]['product'] }}"{% endif %} data-boxid="{{ boxes[23]['id'] }}" class="{% if boxes[23]['availability'] %}success{% else %}danger{% endif %}"><strong>{{ boxes[23]['id'] }}</strong><div class="pull-right">{{ boxes[23]['orderId'] }}</div><br>{% if (boxes[23]['availability']) %}Free{% else %}Since {{ boxes[23]['availabilityDate']|date("F jS, g:ia") }}{% endif %}</td>
                    </tr>

                    <tr>
                        <td {% if not boxes[4]['availability'] %}data-productorder="{{ boxes[4]['product_order_id'] }}" data-product="{{ boxes[4]['product'] }}"{% endif %} data-boxid="{{ boxes[4]['id'] }}" class="{% if boxes[4]['availability'] %}success{% else %}danger{% endif %}"><strong>{{ boxes[4]['id'] }}</strong><div class="pull-right">{{ boxes[4]['orderId'] }}</div><br>{% if (boxes[4]['availability']) %}Free{% else %}Since {{ boxes[4]['availabilityDate']|date("F jS, g:ia") }}{% endif %}</td>
                        <td {% if not boxes[13]['availability'] %}data-productorder="{{ boxes[13]['product_order_id'] }}" data-product="{{ boxes[13]['product'] }}"{% endif %} data-boxid="{{ boxes[13]['id'] }}" class="{% if boxes[13]['availability'] %}success{% else %}danger{% endif %}" rowspan="4"><strong>{{ boxes[13]['id'] }}</strong><div class="pull-right">{{ boxes[13]['orderId'] }}</div><br>{% if (boxes[13]['availability']) %}Free{% else %}Since {{ boxes[13]['availabilityDate']|date("F jS, g:ia") }}{% endif %}</td>
                        <td {% if not boxes[16]['availability'] %}data-productorder="{{ boxes[16]['product_order_id'] }}" data-product="{{ boxes[16]['product'] }}"{% endif %} data-boxid="{{ boxes[16]['id'] }}" class="{% if boxes[16]['availability'] %}success{% else %}danger{% endif %}" rowspan="4"><strong>{{ boxes[16]['id'] }}</strong><div class="pull-right">{{ boxes[16]['orderId'] }}</div><br>{% if (boxes[16]['availability']) %}Free{% else %}Since {{ boxes[16]['availabilityDate']|date("F jS, g:ia") }}{% endif %}</td>
                        <td {% if not boxes[24]['availability'] %}data-productorder="{{ boxes[24]['product_order_id'] }}" data-product="{{ boxes[24]['product'] }}"{% endif %} data-boxid="{{ boxes[24]['id'] }}" class="{% if boxes[24]['availability'] %}success{% else %}danger{% endif %}"><strong>{{ boxes[24]['id'] }}</strong><div class="pull-right">{{ boxes[24]['orderId'] }}</div><br>{% if (boxes[24]['availability']) %}Free{% else %}Since {{ boxes[24]['availabilityDate']|date("F jS, g:ia") }}{% endif %}</td>
                    </tr>
                    <tr>
                        <td {% if not boxes[5]['availability'] %}data-productorder="{{ boxes[5]['product_order_id'] }}" data-product="{{ boxes[5]['product'] }}"{% endif %} data-boxid="{{ boxes[5]['id'] }}" class="{% if boxes[5]['availability'] %}success{% else %}danger{% endif %}"><strong>{{ boxes[5]['id'] }}</strong><div class="pull-right">{{ boxes[5]['orderId'] }}</div><br>{% if (boxes[5]['availability']) %}Free{% else %}Since {{ boxes[5]['availabilityDate']|date("F jS, g:ia") }}{% endif %}</td>
                        <td {% if not boxes[25]['availability'] %}data-productorder="{{ boxes[25]['product_order_id'] }}" data-product="{{ boxes[25]['product'] }}"{% endif %} data-boxid="{{ boxes[25]['id'] }}" class="{% if boxes[25]['availability'] %}success{% else %}danger{% endif %}"><strong>{{ boxes[25]['id'] }}</strong><div class="pull-right">{{ boxes[25]['orderId'] }}</div><br>{% if (boxes[25]['availability']) %}Free{% else %}Since {{ boxes[25]['availabilityDate']|date("F jS, g:ia") }}{% endif %}</td>
                    </tr>
                    <tr>
                        <td {% if not boxes[6]['availability'] %}data-productorder="{{ boxes[6]['product_order_id'] }}" data-product="{{ boxes[6]['product'] }}"{% endif %} data-boxid="{{ boxes[6]['id'] }}" class="{% if boxes[6]['availability'] %}success{% else %}danger{% endif %}"><strong>{{ boxes[6]['id'] }}</strong><div class="pull-right">{{ boxes[6]['orderId'] }}</div><br>{% if (boxes[6]['availability']) %}Free{% else %}Since {{ boxes[6]['availabilityDate']|date("F jS, g:ia") }}{% endif %}</td>
                        <td {% if not boxes[19]['availability'] %}data-productorder="{{ boxes[19]['product_order_id'] }}" data-product="{{ boxes[19]['product'] }}"{% endif %} data-boxid="{{ boxes[19]['id'] }}" class="{% if boxes[19]['availability'] %}success{% else %}danger{% endif %}" rowspan="6"><strong>{{ boxes[19]['id'] }}</strong><div class="pull-right">{{ boxes[19]['orderId'] }}</div><br>{% if (boxes[19]['availability']) %}Free{% else %}Since {{ boxes[19]['availabilityDate']|date("F jS, g:ia") }}{% endif %}</td>
                        <td {% if not boxes[26]['availability'] %}data-productorder="{{ boxes[26]['product_order_id'] }}" data-product="{{ boxes[26]['product'] }}"{% endif %} data-boxid="{{ boxes[26]['id'] }}" class="{% if boxes[26]['availability'] %}success{% else %}danger{% endif %}"><strong>{{ boxes[26]['id'] }}</strong><div class="pull-right">{{ boxes[26]['orderId'] }}</div><br>{% if (boxes[26]['availability']) %}Free{% else %}Since {{ boxes[26]['availabilityDate']|date("F jS, g:ia") }}{% endif %}</td>
                    </tr>
                    <tr>
                        <td {% if not boxes[7]['availability'] %}data-productorder="{{ boxes[7]['product_order_id'] }}" data-product="{{ boxes[7]['product'] }}"{% endif %} data-boxid="{{ boxes[7]['id'] }}" class="{% if boxes[7]['availability'] %}success{% else %}danger{% endif %}"><strong>{{ boxes[7]['id'] }}</strong><div class="pull-right">{{ boxes[7]['orderId'] }}</div><br>{% if (boxes[7]['availability']) %}Free{% else %}Since {{ boxes[7]['availabilityDate']|date("F jS, g:ia") }}{% endif %}</td>
                        <td {% if not boxes[27]['availability'] %}data-productorder="{{ boxes[27]['product_order_id'] }}" data-product="{{ boxes[27]['product'] }}"{% endif %} data-boxid="{{ boxes[27]['id'] }}" class="{% if boxes[27]['availability'] %}success{% else %}danger{% endif %}"><strong>{{ boxes[27]['id'] }}</strong><div class="pull-right">{{ boxes[27]['orderId'] }}</div><br>{% if (boxes[27]['availability']) %}Free{% else %}Since {{ boxes[27]['availabilityDate']|date("F jS, g:ia") }}{% endif %}</td>
                    </tr>

                    <tr>
                        <td {% if not boxes[8]['availability'] %}data-productorder="{{ boxes[8]['product_order_id'] }}" data-product="{{ boxes[8]['product'] }}"{% endif %} data-boxid="{{ boxes[8]['id'] }}" class="{% if boxes[8]['availability'] %}success{% else %}danger{% endif %}"><strong>{{ boxes[8]['id'] }}</strong><div class="pull-right">{{ boxes[8]['orderId'] }}</div><br>{% if (boxes[8]['availability']) %}Free{% else %}Since {{ boxes[8]['availabilityDate']|date("F jS, g:ia") }}{% endif %}</td>
                        <td {% if not boxes[14]['availability'] %}data-productorder="{{ boxes[14]['product_order_id'] }}" data-product="{{ boxes[14]['product'] }}"{% endif %} data-boxid="{{ boxes[14]['id'] }}" class="{% if boxes[14]['availability'] %}success{% else %}danger{% endif %}" rowspan="4"><strong>{{ boxes[14]['id'] }}</strong><div class="pull-right">{{ boxes[14]['orderId'] }}</div><br>{% if (boxes[14]['availability']) %}Free{% else %}Since {{ boxes[14]['availabilityDate']|date("F jS, g:ia") }}{% endif %}</td>
                        <td {% if not boxes[17]['availability'] %}data-productorder="{{ boxes[17]['product_order_id'] }}" data-product="{{ boxes[17]['product'] }}"{% endif %} data-boxid="{{ boxes[17]['id'] }}" class="{% if boxes[17]['availability'] %}success{% else %}danger{% endif %}" rowspan="4"><strong>{{ boxes[17]['id'] }}</strong><div class="pull-right">{{ boxes[17]['orderId'] }}</div><br>{% if (boxes[17]['availability']) %}Free{% else %}Since {{ boxes[17]['availabilityDate']|date("F jS, g:ia") }}{% endif %}</td>
                        <td {% if not boxes[28]['availability'] %}data-productorder="{{ boxes[28]['product_order_id'] }}" data-product="{{ boxes[28]['product'] }}"{% endif %} data-boxid="{{ boxes[28]['id'] }}" class="{% if boxes[28]['availability'] %}success{% else %}danger{% endif %}"><strong>{{ boxes[28]['id'] }}</strong><div class="pull-right">{{ boxes[28]['orderId'] }}</div><br>{% if (boxes[28]['availability']) %}Free{% else %}Since {{ boxes[28]['availabilityDate']|date("F jS, g:ia") }}{% endif %}</td>
                    </tr>
                    <tr>
                        <td {% if not boxes[9]['availability'] %}data-productorder="{{ boxes[9]['product_order_id'] }}" data-product="{{ boxes[9]['product'] }}"{% endif %} data-boxid="{{ boxes[9]['id'] }}" class="{% if boxes[9]['availability'] %}success{% else %}danger{% endif %}"><strong>{{ boxes[9]['id'] }}</strong><div class="pull-right">{{ boxes[9]['orderId'] }}</div><br>{% if (boxes[9]['availability']) %}Free{% else %}Since {{ boxes[9]['availabilityDate']|date("F jS, g:ia") }}{% endif %}</td>
                        <td {% if not boxes[29]['availability'] %}data-productorder="{{ boxes[29]['product_order_id'] }}" data-product="{{ boxes[29]['product'] }}"{% endif %} data-boxid="{{ boxes[29]['id'] }}" class="{% if boxes[29]['availability'] %}success{% else %}danger{% endif %}"><strong>{{ boxes[29]['id'] }}</strong><div class="pull-right">{{ boxes[29]['orderId'] }}</div><br>{% if (boxes[29]['availability']) %}Free{% else %}Since {{ boxes[29]['availabilityDate']|date("F jS, g:ia") }}{% endif %}</td>
                    </tr>
                    <tr>
                        <td {% if not boxes[10]['availability'] %}data-productorder="{{ boxes[10]['product_order_id'] }}" data-product="{{ boxes[10]['product'] }}"{% endif %} data-boxid="{{ boxes[10]['id'] }}" class="{% if boxes[10]['availability'] %}success{% else %}danger{% endif %}"><strong>{{ boxes[10]['id'] }}</strong><div class="pull-right">{{ boxes[10]['orderId'] }}</div><br>{% if (boxes[10]['availability']) %}Free{% else %}Since {{ boxes[10]['availabilityDate']|date("F jS, g:ia") }}{% endif %}</td>
                        <td {% if not boxes[30]['availability'] %}data-productorder="{{ boxes[30]['product_order_id'] }}" data-product="{{ boxes[30]['product'] }}"{% endif %} data-boxid="{{ boxes[30]['id'] }}" class="{% if boxes[30]['availability'] %}success{% else %}danger{% endif %}"><strong>{{ boxes[30]['id'] }}</strong><div class="pull-right">{{ boxes[30]['orderId'] }}</div><br>{% if (boxes[30]['availability']) %}Free{% else %}Since {{ boxes[30]['availabilityDate']|date("F jS, g:ia") }}{% endif %}</td>
                    </tr>
                    <tr>
                        <td {% if not boxes[11]['availability'] %}data-productorder="{{ boxes[11]['product_order_id'] }}" data-product="{{ boxes[11]['product'] }}"{% endif %} data-boxid="{{ boxes[11]['id'] }}" class="{% if boxes[11]['availability'] %}success{% else %}danger{% endif %}"><strong>{{ boxes[11]['id'] }}</strong><div class="pull-right">{{ boxes[11]['orderId'] }}</div><br>{% if (boxes[11]['availability']) %}Free{% else %}Since {{ boxes[11]['availabilityDate']|date("F jS, g:ia") }}{% endif %}</td>
                        <td {% if not boxes[31]['availability'] %}data-productorder="{{ boxes[31]['product_order_id'] }}" data-product="{{ boxes[31]['product'] }}"{% endif %} data-boxid="{{ boxes[31]['id'] }}" class="{% if boxes[31]['availability'] %}success{% else %}danger{% endif %}"><strong>{{ boxes[31]['id'] }}</strong><div class="pull-right">{{ boxes[31]['orderId'] }}</div><br>{% if (boxes[31]['availability']) %}Free{% else %}Since {{ boxes[31]['availabilityDate']|date("F jS, g:ia") }}{% endif %}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
        <footer></footer>
    </div>











    <div class="modal fade" id="scan-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Scan product barcode</h4>
                </div>
                <div class="modal-body">
                    <form action="/app_dev.php" method="post">
                        <div class="form-group">
                            <input type="hidden" name="id">
                            <input type="hidden" name="box_no">
                            <input type="text" class="form-control" placeholder="Product barcode">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary save">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="cancel-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Remove product</h4>
                </div>
                <div class="modal-body">
                    <section class="product"></section>
                    <form action="/app_dev.php" method="post">
                        <div class="form-group">
                            <input type="hidden" name="cancel">
                            <input type="hidden" name="box_id">
                            <input type="hidden" name="id">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary save">Do it</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/global.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}
