{% extends 'base.html.twig' %}

{% block body %}
    <table class="table">
        <tbody>
        <tr>
            <td class="{% if boxes[0].availability %}success{% else %}danger{% endif %}">{{ boxes[0].id }}</td>
            <td class="{% if boxes[12].availability %}success{% else %}danger{% endif %}" rowspan="4">{{ boxes[12].id }}</td>
            <td class="{% if boxes[15].availability %}success{% else %}danger{% endif %}" rowspan="4">{{ boxes[15].id }}</td>
            <td class="{% if boxes[18].availability %}success{% else %}danger{% endif %}" rowspan="6">{{ boxes[18].id }}</td>
            <td class="{% if boxes[20].availability %}success{% else %}danger{% endif %}">{{ boxes[20].id }}</td>
        </tr>
        <tr>
            <td class="{% if boxes[1].availability %}success{% else %}danger{% endif %}">{{ boxes[1].id }}</td>
            <td class="{% if boxes[21].availability %}success{% else %}danger{% endif %}">{{ boxes[21].id }}</td>
        </tr>
        <tr>
            <td class="{% if boxes[2].availability %}success{% else %}danger{% endif %}">{{ boxes[2].id }}</td>
            <td class="{% if boxes[22].availability %}success{% else %}danger{% endif %}">{{ boxes[22].id }}</td>
        </tr>
        <tr>
            <td class="{% if boxes[3].availability %}success{% else %}danger{% endif %}">{{ boxes[3].id }}</td>
            <td class="{% if boxes[23].availability %}success{% else %}danger{% endif %}">{{ boxes[23].id }}</td>
        </tr>

        <tr>
            <td class="{% if boxes[4].availability %}success{% else %}danger{% endif %}">{{ boxes[4].id }}</td>
            <td class="{% if boxes[13].availability %}success{% else %}danger{% endif %}" rowspan="4">{{ boxes[13].id }}</td>
            <td class="{% if boxes[16].availability %}success{% else %}danger{% endif %}" rowspan="4">{{ boxes[16].id }}</td>
            <td class="{% if boxes[24].availability %}success{% else %}danger{% endif %}">{{ boxes[24].id }}</td>
        </tr>
        <tr>
            <td class="{% if boxes[5].availability %}success{% else %}danger{% endif %}">{{ boxes[5].id }}</td>
            <td class="{% if boxes[25].availability %}success{% else %}danger{% endif %}">{{ boxes[25].id }}</td>
        </tr>
        <tr>
            <td class="{% if boxes[6].availability %}success{% else %}danger{% endif %}">{{ boxes[6].id }}</td>
            <td class="{% if boxes[19].availability %}success{% else %}danger{% endif %}" rowspan="6">{{ boxes[19].id }}</td>
            <td class="{% if boxes[26].availability %}success{% else %}danger{% endif %}">{{ boxes[26].id }}</td>
        </tr>
        <tr>
            <td class="{% if boxes[7].availability %}success{% else %}danger{% endif %}">{{ boxes[7].id }}</td>
            <td class="{% if boxes[27].availability %}success{% else %}danger{% endif %}">{{ boxes[27].id }}</td>
        </tr>

        <tr>
            <td class="{% if boxes[8].availability %}success{% else %}danger{% endif %}">{{ boxes[8].id }}</td>
            <td class="{% if boxes[14].availability %}success{% else %}danger{% endif %}" rowspan="4">{{ boxes[14].id }}</td>
            <td class="{% if boxes[17].availability %}success{% else %}danger{% endif %}" rowspan="4">{{ boxes[17].id }}</td>
            <td class="{% if boxes[28].availability %}success{% else %}danger{% endif %}">{{ boxes[28].id }}</td>
        </tr>
        <tr>
            <td class="{% if boxes[9].availability %}success{% else %}danger{% endif %}">{{ boxes[9].id }}</td>
            <td class="{% if boxes[29].availability %}success{% else %}danger{% endif %}">{{ boxes[29].id }}</td>
        </tr>
        <tr>
            <td class="{% if boxes[10].availability %}success{% else %}danger{% endif %}">{{ boxes[10].id }}</td>
            <td class="{% if boxes[30].availability %}success{% else %}danger{% endif %}">{{ boxes[30].id }}</td>
        </tr>
        <tr>
            <td class="{% if boxes[11].availability %}success{% else %}danger{% endif %}">{{ boxes[11].id }}</td>
            <td class="{% if boxes[31].availability %}success{% else %}danger{% endif %}">{{ boxes[31].id }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}

{% block stylesheets %}
    <style>
        table, body, html{
            height: 100%;
        }
    </style>

    <link rel="stylesheet" href="{{ asset('build/global.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}
